:root {
  --primary-bg-color: #ccffff;
  --primary-transparent-bg-color: rgba(204, 255, 255, 0.8);
  --primary-light-bg-color: rgba(234, 255, 255);
  --accent-color: #0099cc;
  --transparent-text-color: rgba(0, 153, 204, 0.5);
  --button-bg-color: #00ccff;
  --button-bg-hover-color: #00ff00;

  --font-weight-medium: 500px;
  --font-weight-bold: 700px;

  --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//breakpoints for adaptability
$phone: 320px;
$tablet: 768px;
$desktop: 1920px;
