.gallery-search-form {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: top 500ms ease-in-out;
}

.gallery-search-form.scroll-up,
.gallery-search-form:focus-within {
  top: 0;
  background-color: var(--primary-transparent-bg-color);
}

.gallery-search-form.scroll-down {
  top: -100%;
}

.gallery-search-form-input-wrap {
  position: relative;
  @include adaptive-for-tablet {
    width: 50%;
  }
  width: 75%;
}

.gallery-search-form-input-label {
  position: relative;
  display: block;
  min-width: 230px;
  margin-right: 5px;
}

.gallery-search-form-input {
  width: 100%;
  height: 50px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: var(--transparent-text-color);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
